#calendar {
    flex: 1;
    margin-right: 20px;
    transition: all 0.3s ease;
}

/* 일요일 날짜 빨간색 */
.fc-sun {
    color: red !important;
}

.fc-day-grid-event {
    background: none !important;
    border: none !important;
    color: transparent !important;
}

.dots-container {
    display: flex;
    justify-content: center;
    margin-top: 5px;
}

.category-dot {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    display: inline-block;
    margin: 0 2px;
}

.category-dot.work {
    background-color: #007bff;
}

.category-dot.personal {
    background-color: #28a745;
}

.category-dot.others {
    background-color: #ffc107;
}
